{%extends "admin.html"%}
{%load staticfiles%}
{%block content %}
 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Calificar <small>Cohorte: ; Actividad: </small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Informacion de cohorte y actividad
                            </li>

                        </ol>
                    </div>

                </div>
{% endblock %}
{%block js%}
{{block.super}}
{% endblock %}