{%extends "admin.html"%}

{% load staticfiles %}
{% block css %}
    {{block.super}}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">

{% endblock %}

{%block content %}

    <div class="row">
                    <div class="col-lg-14">
                        <h1 class="page-header">
                            Cohortes <small>Creacion de cohortes...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Aqui podra crear las cohortes de un periodo
                            </li>

                        </ol>

                        <div class="col-lg-8">
                            {% if exito %}
                                <div class="alert alert-success alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                                    <i class="fa fa-check"></i> Se creado una cohorte con exito!
                                </div>
					        {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}

                                <div class="form-group" >
                                    <label>{{form.numero_cohorte.label}}</label>
                                    <p class="help-block">Número de la cohorte</p>
                                    {{form.numero_cohorte}}
                                </div>


                                <div class="form-group" id="data_1">
                                    {{form.fecha_inicial.errors}}
                                    <label class="col-lg-2 control-label">{{form.fecha_inicial.label}}</label>
                                    <div class="col-lg-4">
                                        <div class=" input-group date ">
                                            <span class="input-group-addon "><i class="fa fa-calendar"></i>
                                            </span>
                                            {{form.fecha_inicial}}
                                        </div>
                                    </div>
                               </div>


                                <div class="form-group" id="data_2">
                                    {{form.fecha_final.errors}}
                                    <label class="col-lg-2 control-label">{{form.fecha_final.label}}</label>
                                    <div class="col-lg-4">
                                        <div class="input-group date ">
                                                    <span class="input-group-addon "><i class="fa fa-calendar"></i>
                                                    </span>
                                                    {{form.fecha_final}}
                                        </div>

                                    </div>
                               </div>

                                <div class="form-group">
                                    <label>{{form.periodo.label}}</label>
                                    <p class="help-block">Periodo</p>
                                    {{form.periodo}}
                                </div>

                                <div class="form-group">
                                    <label>{{form.master_teacher.label}}</label>
                                    <p class="help-block">Master teacher que dictara el curso</p>
                                     {{form.master_teacher}}
                                </div>


                                <div class="form-group">
                                    <label>{{form.curso.label}}</label>
                                    <p class="help-block">Curso de la cohorte.</p>
                                     {{form.curso}}
                                </div>

                                <div class="form-group">
                                    <label>{{form.estudiantes.label}}</label>
                                    <p class="help-block">Estudiantes que se matricualaran</p>
                                     {{form.estudiantes}}
                                </div>


                                <!--BOTON-->

								<div class="form-group">
									<button type="submit" class="btn btn-primary">Crear</button>
								</div>

                            </form>
                        </div>
                    </div>
    </div>


{% endblock %}


{% block js %}
   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
   <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>
    <script>
        $(document).ready(function(){
            var changeCheckbox = document.querySelector('.js-check-change');
            if (changeCheckbox.checked){
                document.getElementById("id_fecha_inicial").disabled = true;
                document.getElementById("id_fecha_final").required = false;
            }else{
                document.getElementById("id_fecha_fin_vin").disabled = false;
                document.getElementById("id_fecha_fin_vin").required = true;
            }

        });
    </script>
   <script type="text/javascript">
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#data_2 .input-group.date').datepicker({
                startView: 2,
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true
            });

            $('#data_4 .input-group.date').datepicker({
                minViewMode: 1,
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                todayHighlight: true
            });

            var elem_2 = document.querySelector('.js-switch_2');
            var switchery_2 = new Switchery(elem_2, { color: '#ED5565' , size: 'small'});
            var changeCheckbox = document.querySelector('.js-check-change');
            changeCheckbox.onchange = function() {
                if (changeCheckbox.checked){
                    //Nos chekiaron
                    document.getElementById("id_fecha_fin_vin").disabled = true;
                    document.getElementById("id_fecha_fin_vin").required = false;

                }else{
                    //Nos deschekiaron
                    document.getElementById("id_fecha_fin_vin").disabled = false;
                    document.getElementById("id_fecha_fin_vin").required = true;
                }
            };

            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, no se encontró nada!'},
                '.chosen-select-width'     : {width:"95%"}
            };
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }

   </script>
{{block.super}}


{% endblock %}