{%extends "admin.html"%}
{%load staticfiles%}
{% block css%}
{{block.super}}
<link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">
<link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
{% endblock %}
{%block content %}
 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Cohortes <small>Creacion de cohortes...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-tags"></i> Paso 3: Ingreso de actividades de cohorte
                            </li>

                        </ol>
                        <div class="col-lg-10">
                            {% if exito %}
                                <div class="alert alert-success alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                                    <i class="fa fa-check"></i> A terminado todos los pasos para la creacion de la Cohorte!
                                    <a href="/cohortes/crearcohorte"><button class="btn btn-success"><i class="fa fa-keyboard-o"></i> Crear otra Cohorte</button></a>
                                    <a href="/index"><button class="btn btn-success"><i class="fa fa-home"></i> Ir al Inicio</button></a>
                                </div>
					        {% endif %}
                            <h3><strong>Actividades</strong></h3>
                            Seleccione las que aplican para esta cohorte
                            <form action="" method="post">
                                    {% csrf_token %}
                                <table class="table table-hover table-striped">
                                        <thead>
                                            <tr>
                                                <th>Nombre</th>
                                                <th>Incluida?</th>
                                                <th>Fecha Inicio</th>
                                                <th>Fecha Fin</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {%for act in actividades %}
                                            <tr>
                                                <td><strong>{{act}}</strong></td>
                                                {% if act.check%}
                                                    <td><input type="checkbox" class="js-switch_{{act.id}}" name="{{act.id}}" id="id_{{act.id}}" checked></td>
                                                {% else %}
                                                    <td><input type="checkbox" class="js-switch_{{act.id}}" name="{{act.id}}" id="id_{{act.id}}"></td>
                                                {%endif%}
                                                <td>
                                                    <div class="form-group" id="data_1">
                                                        <div class=" input-group date ">
                                                        <span class="input-group-addon "><i class="fa fa-calendar"></i></span>
                                                        <input type="text" class="form-control" disabled id="id_fecha_in_{{act.id}}" name="fecha_in_{{act.id}}">
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="form-group" id="data_1">
                                                        <div class=" input-group date ">
                                                        <span class="input-group-addon "><i class="fa fa-calendar"></i></span>
                                                        <input type="text" class="form-control" disabled id="id_fecha_fin_{{act.id}}" name="fecha_fin_{{act.id}}">
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                            <tr>
                                                <!--td><a href="/calificaciones/calificar"><button class="btn btn-danger"><i class="fa fa-times"></i> Cancelar</button></a></td-->
                                                <td><button type="submit" class="btn btn-success">Finalizar</button></td>
                                            </tr>
                                        </tbody>
                                </table>
                            </form>
                        </div>

                    </div>

                </div>
{% endblock %}
{%block js%}
{{block.super}}
    <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
    <!-- Switchery -->
    <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    <script type="text/javascript">
        {%for act in actividades %}
            var elem_2 = document.querySelector('.js-switch_{{act.id}}');
            var switchery_2 = new Switchery(elem_2, { color: '#5CB85C' , size: 'small'});
        {% endfor %}

        $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });


   </script>
{% endblock %}