{%extends "admin.html"%}

{% load staticfiles %}
{% block css %}
    {{block.super}}
    <link href="{% static 'css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/switchery/switchery.css' %}" rel="stylesheet">
    <style type="text/css">
        ul.errorlist {
            margin: 0;
            padding: 0;
        }
        .errorlist li {
            background-color: red;
            color: white;
            display: block;
            font-size: 10px;
            margin: 0 0 3px;
            padding: 4px 5px;
        }
    </style>
{% endblock %}

{%block content %}

    <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Cohortes <small>Creacion de cohortes...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Primer paso: Seleccion de Curso
                            </li>

                        </ol>

                        <div class="col-lg-12">
                                <!--div class="col-lg-12"-->
                                    <h3><strong>Seleccione el Curso</strong></h3>
                                    <div class="col-lg-6">
                                        <br/>
                                        <br/>
                                        <div class="form-group">
                                            <label>Cursos disponibles</label>
                                            <p class="help-block">Curso del cual se creara una cohorte</p>
                                            <select class="form-control" name="curso" id="id_curso" aria-required="true" requiered>
                                                {%for curso in curso_list%}
                                                    <option value="{{curso}}">{{curso}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                <!--/div-->

                                <div class="col-lg-12">
                                    <br/>
                                    <br/>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <a href="/index"><button class="btn btn-danger">Cancelar</button></a>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <button onclick="list_student()" class="btn btn-success">Siguiente</button>
                                        </div>
                                    </div>

                                </div>
                        </div>
                    </div>
    </div>


{% endblock %}


{% block js %}
    {{block.super}}
   <!-- Data picker -->
   <script src="{% static 'js/plugins/datapicker/bootstrap-datepicker.js' %}"></script>
   <!-- Chosen -->
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <!--Script que permite traer los estudiantes-->
    <script>
        function list_student() {
            var curso = document.getElementById("id_curso");
            var selected_curso = curso.options[curso.selectedIndex].text;
            var link = "/cohortes/listarestudiantes/".concat(selected_curso);
            window.location=link;
        };
    </script>
   <script type="text/javascript">
            $('#data_1 .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });


            var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, no se encontró nada!'},
                '.chosen-select-width'     : {width:"95%"}
            };
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }

   </script>



{% endblock %}