{%extends "admin.html"%}

{%block content %}
 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Historia Academica <small>Registre su historial academico...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Información de apoyo
                            </li>

                        </ol>
                        <div class="col-lg-8">
                            {% if exito %}
                                <div class="alert alert-success alert-dismissable">
                                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                                    <i class="fa fa-check"></i> Se ha registrado la historia laboral con exito!
                                </div>
					        {% endif %}
                            <form action="" method="post">
                                {% csrf_token %}
                                <!-- sede -->
                                <div class="form-group">
                                    <label>{{form.sede.label}}</label>
                                    <p class="help-block">Sede donde realizo el trabajo.</p>
                                    {{form.sede}}
                                </div>

                                <!-- institucion -->
                                <div class="form-group">
                                    <label>{{form.institucion.label}}</label>
                                    <p class="help-block">Institucion donde laboro.</p>
                                    {{form.institucion}}
                                </div>

                                <!-- grado -->
                                <div class="form-group">
                                    <label>{{form.grado.label}}</label>
                                    <p class="help-block">Grado que tuvo.</p>
                                    {{form.grado}}
                                </div>

                                <!-- tiempo -->
                                <div class="form-group">
                                    <label>{{form.tiempo.label}}</label>
                                    <p class="help-block">Tiempo trabajado en años.</p>
                                    {{form.tiempo}}
                                </div>

                                <!-- tipo_ensenanza -->
                                <div class="form-group">
                                    <label>{{form.tipo_ensenanza.label}}</label>
                                    <p class="help-block">Tipo de enseñanza que realizo.</p>
                                    {{form.tipo_ensenanza}}
                                </div>

                                <!-- anos_exp -->
                                <div class="form-group">
                                    <label>{{form.anos_exp.label}}</label>
                                    <p class="help-block">Años de experiencia obtenidos.</p>
                                    {{form.anos_exp}}
                                </div>


                                <!-- teacher invisible -->
                                <input style="visibility: hidden" value="{{teacher_id}}" name="teacher" id="teacher_id">

                                <!--BOTON-->

									<div class="form-group">
										<button type="submit" class="btn btn-primary">Crear</button>
									</div>

                            </form>
                        </div>
                    </div>

                </div>
{% endblock %}