{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="CIER-SOIN LANDING PAGE">
    <meta name="author" content="CIER-SOIN DEVELOPMENT TEAM">

    <title>CIERSOIN | Univalle</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/landing-page.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <link href="{% static 'css/plugins/iCheck/custom.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/plugins/chosen/chosen.css' %}" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="#">CIERSOIN</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/login">Iniciar Sesión</a>
                    </li>
                    <li>
                        <a href="#registrolt">Registro Leader Teacher</a>
                    </li>
                    <li>
                        <a href="#reginfo">Ya estas registrado?</a>
                    </li>
                    <li>
                        <a href="#proyinfo">Acerca del Proyecto</a>
                    </li>
                    <li>
                        <a href="#contact">Contacto</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Header -->
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <img src="{% static 'img/logo_lanpage.png' %}">
                        <h1>CIERSOIN</h1>
                        <h3>Centro de Educación Regional Software Information</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="#registrolt" class="btn btn-default btn-lg"><i class="fa fa-clipboard fa-fw"></i> <span class="network-name">Registro</span></a>
                            </li>
                            <li>
                                <a href="#reginfo" class="btn btn-default btn-lg"><i class="fa fa-mortar-board fa-fw"></i> <span class="network-name">Ingreso</span></a>
                            </li>


                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->

	<a  name="registrolt"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox">
                        <div class="ibox-title">
                            <h5>Registro de Leader Teacher</h5>

                        </div>
                        <div class="ibox-content">
                            <h2>
                                Registro de aspirantes a Leader Teacher
                            </h2>
                            <p>
                                Este formulario le permitira aplicar al programa de CIER, ingrese todos los campos
                            </p>
                            {% if exito %}
						        <div class="alert alert-success alert-dismissable">
							        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
							        <i class="fa fa-check"></i> Se ha registrado con exito! espere a ser informado para ingresar al sistema
						        </div>
					        {% endif %}
                            <form id="form" action="/teacher/registrolt" method="post" class="wizard-big">
                                {% csrf_token %}
                                <h1>Area de trabajo</h1>
                                <fieldset style="overflow: auto">
                                    <h2>Información sobre area de trabajo y curso a matricular</h2>
                                    <small>Primero debe elegir su area de trabajo, dar click en el boton cargar cursos y seleccionar el curso al desea aplicar</small>
                                    <div class="row">
                                        <br>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>{{form.area_interes.label}} *</label>
                                                    {{form.area_interes}}
                                                </div>
                                                <div class="form-group">
                                                    <label>Curso *</label>
                                                    <select class="form-control" name="curso" id="id_curso" aria-required="true" requiered>
                                                        {%for curso in curso_list%}
                                                            <option value="{{curso}}">{{curso}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label>Click para cargar cursos del area</label><br>
                                                    <button type="button" id="listCourse" class="btn btn-primary" onclick="list_course();"><i class="fa fa-paste"></i> Cargar Cursos</button>
                                                </div>
                                            </div>
                                    </div>
                                </fieldset>
                                <h1>Usuario</h1>
                                <fieldset style="overflow: auto">
                                    <h2>Información de Sesion</h2>
                                    <div class="row" >
                                        <div class="col-lg-8">
                                            <div class="form-group">
                                                <label>{{form.username.label}} *</label>
                                                {{form.username}}
                                            </div>
                                            <div class="form-group">
                                                <label>{{form.email.label}} *</label>
                                                {{form.email}}
                                            </div>
                                            <div class="form-group">
                                                <label>{{form.password.label}} *</label>
                                                {{form.password}}
                                            </div>
                                            <div class="form-group">
                                                <label>Confirmar Contraseña *</label>
                                                <input id="confirm" name="confirm" type="password" placeholder="Contraseña" class="form-control required">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="text-center">
                                                <div style="margin-top: 20px">
                                                    <i class="fa fa-sign-in" style="font-size: 180px;color: #e5e5e5 "></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </fieldset>
                                <h1>Personal y Demograficos</h1>
                                <fieldset style="overflow: auto">
                                    <h2>Información Personal y Demografica</h2>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>{{form.first_name.label}} *</label>
                                                {{form.first_name}}
                                            </div>
                                            <div class="form-group">
                                                <label>{{form.last_name.label}} *</label>
                                                {{form.last_name}}
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>{{form.cedula.label}} *</label>
                                                {{form.cedula}}
                                            </div>
                                            <div class="form-group">
                                                <label>{{form.direccion.label}} *</label>
                                                {{form.direccion}}
                                            </div>

                                        </div>
                                        <div class="col-lg-6">

                                            <div class="form-group">
                                                <label>{{form.departamento.label}} *</label>
                                                {{form.departamento}}
                                            </div>

                                            <div class="form-group">
                                                <label>{{form.municipio.label}} *</label>
                                                {{form.municipio}}
                                            </div>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>{{form.zona.label}} *</label>
                                                {{form.zona}}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                    </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <a  name="reginfo"></a>
    <div class="content-section-b">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <h2 class="section-heading" style="color:white">Has realizado un curso antes?</h2>
                    <p class="lead" style="color:white">Ingresa tu cedula aqui!</p>
                            {% if exito_app %}
						        <div class="alert alert-success alert-dismissable">
							        <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
							        <i class="fa fa-check"></i> Se ha registrado su solicitud con exito!
						        </div>
					        {% endif %}
                            <form role="form" class="form-inline" action="/teacher/oferta-cursos-lt" method="post">
                                {% csrf_token %}
                                <h3><small style="color: white">Recuerde que debe estar registrado en el programa del CIER</small></h3>
                                <p style="color: red">{{error}}</p>
                                <div class="form-group"><label for="cc" class="sr-only">Cedula</label>
                                    <input type="number" placeholder="Ingrese su cedula" id="cc" name= "cc" class="form-control"></div>
                                <button class="btn btn-primary" type="submit">Ingresar</button></form>
                </div>
                <div class="col-lg-6 col-sm-pull-6  col-sm-6">
                    <!--img class="img-responsive" src="{% static 'img/dog.png' %}" alt=""-->
                    <div class="col-lg-15">
                        <div class="widget navy-bg no-padding">
                            <div class="p-m">
                                <h1 class="m-xs">{{total_lt}}</h1>

                                <h3 class="font-bold no-margins">
                                    Leader Teacher educados en CIERSOIN
                                </h3>
                                <small>En todas las areas que ofrece el CIER.</small>
                            </div>
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-chart1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

                <!-- A Continuación el codigo que desplega el modal en caso que se requiera observar la oferta de cursos -->
{% if oferta %}
    <button type="button" id="botonModalEdicion" data-toggle="modal" data-target="#ofertaCursos" style="display:none;"></button>

    <div class="modal inmodal" id="ofertaCursos" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-bank modal-icon"></i>
                    <h4 class="modal-title">Oferta de cursos del area {{area}}</h4>
                    <small class="font-bold">Por favor seleccione el curso al cual desea aplicar y dé clic en guardar cambios cuando haya terminado, de lo contrario de clic en cancelar.</small>
                </div>
                <div class="modal-body">
                    {% if disponibilidad %}
                        <form action="/teacher/aspirante/{{cedula}}" method="post" class="form-horizontal">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="col-lg-2 control-label">Cursos:</label>
                                <div class="col-lg-6">
                                    <select class="form-control" id="cursos-oferta" name="cursos-oferta">
                                        {% for cur in cursos%}
                                            <option>{{cur}}</option>
                                        {%endfor%}
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-white" href="/" data-dismiss="modal">Salir</button>
                                <button type="submit" class="btn btn-primary">Aplicar</button>
                            </div>
                        </form>
                    {% else %}
                    Has completado todos los cursos de tu area :), espera a que se abran otros
                    {%endif%}
            </div>
        </div>
    </div>
{%endif%}
<!-- Fin código de edición -->


        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->
    <a  name="proyinfo"></a>
    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Acerca del proyecto:<br><small>Desarrollo de Software II</small></h2>
                    <p class="lead">Este es la implementación del proyecto asignado al curso Desarrollo de Software II 2015-I de la <a target="_blank" href="http://www.univalle.edu.co">Universidad del Valle</a>, diseñado y implementado por Daniel Correa, Alvaro Martinez, Camilo Narvaez, David Mazuera.</p>
                </div>
                <br>
                <br>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/logovalle.png' %}" alt="">
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/logosur.png' %}" alt="">
                </div>
            </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

	<a  name="contact"></a>
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Contactar al equipo de desarrollo:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
                        <li>
                            <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-at fa-fw"></i> <span class="network-name">E-mails</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/IronSummitMedia/startbootstrap" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <ul class="list-inline">
                        <li>
                        <a href="/login">Iniciar Sesión</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#registrolt">Registro Leader Teacher</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#reginfo">Ya estas registrado?</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#proyinfo">Acerca del Proyecto</a>
                        </li>
                        <li class="footer-menu-divider">&sdot;</li>
                        <li>
                            <a href="#contact">Contacto</a>
                        </li>
                    </ul>
                    <p class="copyright text-muted small">Copyright &copy; CIERSOIN | Univalle 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- Custom and plugin javascript -->
    <script src="{%static 'js/inspinia.js' %}"></script>
    <script src="{%static 'js/plugins/pace/pace.min.js' %}"></script>

    <!-- jQuery -->
    <script src="{%static 'js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{%static 'js/bootstrap.min.js' %}"></script>

    <!-- Steps -->
    <script src="{%static 'js/plugins/staps/jquery.steps.min.js' %}"></script>

    <!-- Jquery Validate -->
    <script src="{%static 'js/plugins/validate/jquery.validate.min.js' %}"></script>

    <!-- Flot -->
    <script src="{%static 'js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{%static 'js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{%static 'js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'js/plugins/chosen/chosen.jquery.js' %}"></script>
    <!-- SCRIPT QUE PERMITE LA COMUNICACION ENTRE LAS AREAS Y DJANGO PARA LA ACTUALIZACION DE CUROSOS :OBSERVER -->
    <script>
        function list_course() {
            var areas = document.getElementById("id_area_interes");
            var selected_area = areas.options[areas.selectedIndex].text;
            var link = "/cursos/listar-area/".concat(selected_area);
            window.location=link;
        };
    </script>

    {%if oferta %}
        <script>
            $(document).ready(function(){
                $('#botonModalEdicion').click();
            });
        </script>
    {%endif%}

    <script>


        $(document).ready(function(){
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function (event, currentIndex, newIndex)
                {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex)
                    {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18)
                    {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex)
                    {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function (event, currentIndex, priorIndex)
                {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18)
                    {
                        $(this).steps("next");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3)
                    {
                        $(this).steps("previous");
                    }
                },
                onFinishing: function (event, currentIndex)
                {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function (event, currentIndex)
                {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            }).validate({
                        errorPlacement: function (error, element)
                        {
                            element.before(error);
                        },
                        rules: {
                            confirm: {
                                equalTo: "#password"
                            }
                        }
                    });
            var d1 = [[1262304000000, 6], [1264982400000, 3057], [1267401600000, 20434], [1270080000000, 31982], [1272672000000, 26602], [1275350400000, 27826], [1277942400000, 24302], [1280620800000, 24237], [1283299200000, 21004], [1285891200000, 12144], [1288569600000, 10577], [1291161600000, 10295]];
            var d2 = [[1262304000000, 5], [1264982400000, 200], [1267401600000, 1605], [1270080000000, 6129], [1272672000000, 11643], [1275350400000, 19055], [1277942400000, 30062], [1280620800000, 39197], [1283299200000, 37000], [1285891200000, 27000], [1288569600000, 21000], [1291161600000, 17000]];

            var data1 = [
                { label: "Data 1", data: d1, color: '#17a084'},
                { label: "Data 2", data: d2, color: '#127e68' }
            ];
            $.plot($("#flot-chart1"), data1, {
                xaxis: {
                    tickDecimals: 0
                },
                series: {
                    lines: {
                        show: true,
                        fill: true,
                        fillColor: {
                            colors: [{
                                opacity: 1
                            }, {
                                opacity: 1
                            }]
                        },
                    },
                    points: {
                        width: 0.1,
                        show: false
                    },
                },
                grid: {
                    show: false,
                    borderWidth: 0
                },
                legend: {
                    show: false,
                }
            });
       });

        var config = {
                '.chosen-select'           : {},
                '.chosen-select-deselect'  : {allow_single_deselect:true},
                '.chosen-select-no-single' : {disable_search_threshold:10},
                '.chosen-select-no-results': {no_results_text:'Oops, no se encontró nada!'},
                '.chosen-select-width'     : {width:"95%"}
            }
            for (var selector in config) {
                $(selector).chosen(config[selector]);
            }


    </script>

</body>

</html>
