{%extends "admin.html"%}
{%load staticfiles%}
{%block content %}
 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Ingreso Calificaciones <small>Notas de 0.0 a 5.0</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-pencil-square"></i> Aquí le aparecen los cursos que esta dictando actualmente
                            </li>

                        </ol>
                        <div class="col-lg-10">
                            {%for cohor in cohortes%}
                                <h4>{{cohor}}</h4>
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Actividad</th>
                                            <th>Calificar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {%for ac in cohor.actividades %}
                                        <tr>
                                            <td>{{ac.actividad}}</td>
                                            <td><a href="/calificaciones/calificar/{{cohor.id}}/{{ac.actividad.id}}"><button class="btn btn-xs btn-success dim"><i class="fa fa-pencil-square-o"></i> Calificar</button></a></td>


                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {%endfor%}
                        </div>
                    </div>

                </div>
{% endblock %}
{%block js%}
{{block.super}}
{% endblock %}