{%extends "admin.html"%}
{%load staticfiles%}
{%block content %}
 <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Listar cursos <small>Activacion/Desactivacion de un curso...</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Seleccione el curso que desea desactivar
                            </li>

                        </ol>
                        <h3>Cursos</h3>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre del Curso</th>
                                        <th>Descripción</th>
                                        <th>Área</th>
                                        <th>Estado</th>
                                        <th>Activar/Desactivar</th>
                                        <th>Editar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for curso in cursos%}
                                    <tr>
                                        <td>{{curso.nombre}}</td>
                                        <td>{{curso.descripcion}}</td>
                                        <td>{{curso.area}}</td>
                                        <td><a href="/cursos/editar/{{curso.id}}"><button class="btn btn-xs btn-info dim"><i class="fa fa-check-square-o"></i> Editar</button></a></td>
                                        {%if curso.activo %}
								            <td><p><span class="badge badge-primary">Activo</span></p></td>
                                            <td><a href="/cursos/eliminar/{{curso.id}}"><button class="btn btn-xs btn-danger dim"><i class="fa fa-check-square-o"></i> Desactivar</button></a></td>
							            {%else%}
								            <td><p><span class="badge badge-danger">Inactivo</span></p></td>
                                            <td><a href="/cursos/eliminar/{{curso.id}}"><button class="btn btn-xs btn-success dim"><i class="fa fa-check-square"></i> Reactivar</button></a></td>
							            {%endif%}

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>


<!-- A Continuación se incluirá el código que será tenido en cuenta para la edición de un curso cuando se presiona el botón 'Editar'
        El código incluye un botón invisible, un modal y un script que hará clic en el botón para que salga el modal con el formulario lleno
        con la información del integrante en cuestión-->
{% if edicion %}
    <button type="button" id="botonModalEdicion" data-toggle="modal" data-target="#editarCurso" style="display:none;"></button>

    <div class="modal inmodal" id="editarCurso" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <i class="fa fa-users modal-icon"></i>
                    <h4 class="modal-title">Editar Curso</h4>
                    <small class="font-bold">Por favor modifique a continuación los campos deseados y dé clic en guardar cambios cuando haya terminado, de lo contrario de clic en cancelar.</small>
                </div>
                <div class="modal-body">
                    <form action="" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            {{form_edicion.nombre.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.nombre.label}}</label>
                            <div class="col-lg-6">
                            {{form_edicion.nombre}}
                            </div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.descripcion.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.descripcion.label}}</label>
                            <div class="col-lg-6 text-label">{{form_edicion.descripcion}}</div>
                        </div>

                        <div class="form-group">
                            {{form_edicion.area.errors}}
                            <label class="col-lg-2 control-label">{{form_edicion.area.label}}</label>
                            <div class="col-lg-6">{{form_edicion.area}}</div>
                        </div>
                </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-white" href="/cursos/listarcursos" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Guardar cambios</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{%endif%}
<!-- Fin código de edición -->

{% endblock %}
{%block js%}
    {{block.super}}
    <!-- Data Tables -->
    <script src="{% static 'js/plugins/dataTables/jquery.dataTables.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'js/plugins/dataTables/dataTables.responsive.js' %}"></script>
    <!-- Switchery -->
   <script src="{% static 'js/plugins/switchery/switchery.js' %}"></script>

    {%if edicion %}
        <script>
            $(document).ready(function(){
                $('#botonModalEdicion').click();
            });
        </script>
    {%endif%}
{% endblock %}