{%extends "admin.html"%}
{% load staticfiles %}
{%block content%}




                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Reportes <small>Datos estadisticos recuperados del sistema</small>
                        </h1>
                        Estos reportes muestran las estadisticas del mes: {{mes}}
                        <br/>
                        <br/>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Cursos con Menos potencial de avance
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Top 5</div>
                                        <div>Estos son los cursos los cuales a la fecha presentan retrasos </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                        {%for curso in bajo_avance%}
                        <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h4>Matematicas Discretas</h4>
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    -->
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Top 10</div>
                                        <div>Estos que a la fecha presentan mayor numero de asistentes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Cursos con mayor numero de asistentes</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="chart_cursoasistentes"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Porcentajes de estudiantes que aprobaron y reprobaron Semestre XXXX[EX: FEB-JUN I]</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="bar_porcentajes"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">%</div>
                                        <div>Esta es el porcentaje de estudiantes que han reprobado y aprobado en el actual semestre. Gris: Reprobado Verde:Aprobado</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">#</div>
                                        <div>Este es el numero de Estudiantes que han ingresado organizados por departamento</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-area-chart fa-fw"></i> Cantidad de Leader Teachers</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
{% block js%}
{{block.super}}
<!-- ChartJS-->
    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>
    <script>
    $(document).ready(function(){

        var datos_cursoaspirante = {
        labels: ['Discretas','Pintura','Magia', 'Curso', 'Curso', 'Curso', 'Curso', 'Curso', 'Curso', 'Curso'], // {{lista_cursos|safe}}
        datasets: [
                {
                    label: "Curso con mayor numero de asistentes",
                    fillColor: "rgba(26,179,148,0.5)",
                    strokeColor: "rgba(26,179,148,0.8)",
                    highlightFill: "rgba(26,179,148,0.75)",
                    highlightStroke: "rgba(26,179,148,1)",
                    data: [23,78,34,67,23,56,49,56,43,78] // {{cantidad_asistentes}}
                }
            ]
        };

        var barOptions = {
            scaleBeginAtZero: true,
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            responsive: true,
        }


        var ctx = document.getElementById("chart_cursoasistentes").getContext("2d");
        var myNewChart = new Chart(ctx).Bar(datos_cursoaspirante, barOptions);

        var datos_porcetajes = {
        labels: ["Valle", "Cauca", "Nariño", "Tolima", "Huila", "Caqueta", "Putumayo","Amazonas"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40, 78] //{{porcentaje_gano}}
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.8)",
                highlightFill: "rgba(26,179,148,0.75)",
                highlightStroke: "rgba(26,179,148,1)",
                data: [28, 48, 40, 19, 86, 27, 90,69] //{{porcentaje_perdio}}
            }
        ]
        };

        var barOptions2 = {
            scaleBeginAtZero: true,
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            responsive: true,
        }


        var ctx2 = document.getElementById("bar_porcentajes").getContext("2d");
        var myNewChart2 = new Chart(ctx2).Bar(datos_porcetajes, barOptions2);

        var doughnutData = [
        {
            value: 300, //{{ingreso_valle}}
            color: "#a3e1d4",
            highlight: "#1ab394",
            label: "Valle"
        },
        {
            value: 50, //{{ingreso_cauca}}
            color: "#dedede",
            highlight: "#1ab394",
            label: "Cauca"
        },
        {
            value: 100, //{{ingreso_narino}}
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Nariño"
        },
        {
            value: 100, //{{ingreso_tolima}}
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Tolima"
        },
        {
            value: 100, //{{ingreso_huila}}
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Huila"
        },
        {
            value: 100, //{{ingreso_caqueta}}
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Caqueta"
        },
        {
            value: 100, //{{ingreso_putumayo}}
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Putumayo"
        },
        {
            value: 100, //{{ingreso_amazonas}}
            color: "#FCF8E3",
            highlight: "#1ab394",
            label: "Amazonas"
        }

    ];

    var doughnutOptions = {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 45, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
    };


    var ctx = document.getElementById("doughnutChart").getContext("2d");
    var myNewChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);


});




  </script>
{%endblock%}