{%extends "admin.html"%}
{% load staticfiles %}
{%block content%}




                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Reportes <small>Datos estadisticos recuperados del sistema</small>
                        </h1>
                        {% ifequal regs 'SI' %}
                            <div class="alert alert-success alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                                <i class="fa fa-check"></i> Se han encontrado registros para esos datos!
                            </div>
                        {% endifequal %}
                        {% ifequal regs 'NO' %}
                            <div class="alert alert-danger alert-dismissable">
                                <button aria-hidden="true" data-dismiss="alert" class="close" type="button"></button>
                                <i class="fa fa-check"></i> Lo sentimos no hay registros con dichos datos, cambie los parametros de busqueda
                            </div>
                        {% endifequal %}
                        Ingrese los parametros de busqueda:
                        <br/>
                        <br/>
                         <form id="form" action="" method="post" >
                             {% csrf_token %}
                             <div class="row">
                                 <div class="col-lg-3">
                                      <div class="form-group">
                                          <label>Mes [Reportes Mensulaes] *</label>
                                          <select name="mes" id="id_mes" class="form-control required" required>
                                              <option value="1">Enero</option>
                                              <option value="2">Febrero</option>
                                              <option value="3">Marzo</option>
                                              <option value="4">Abril</option>
                                              <option value="5">Mayo</option>
                                              <option value="6">Junio</option>
                                              <option value="7">Julio</option>
                                              <option value="8">Agosto</option>
                                              <option value="9">Septiembre</option>
                                              <option value="10">Octubre</option>
                                              <option value="11">Noviembre</option>
                                              <option value="12">Diciembre</option>
                                          </select>
                                      </div>
                                 </div>
                                 <div class="col-lg-3">
                                      <div class="form-group">
                                          <label>Periodo [Reportes Semestrales] *</label>
                                          <select name="periodo" id="id_periodo" class="form-control required" required>
                                              <option value="I:Feb-Jun">I:Feb-Jun</option>
                                              <option value="II:Agos-Dic">II:Agos-Dic</option>
                                          </select>
                                      </div>
                                 </div>
                                 <div class="col-lg-3">
                                      <div class="form-group">
                                          <label>Año [Reportes Semestrales] *</label>
                                          <input type="number" min="2015" name="year" id="id_year" class="form-control">
                                      </div>
                                 </div>
                                 <div class="col-lg-3">
                                      <div class="form-group">
                                          <label></label><br/>
                                          <button type="submit" class="btn btn-success">Buscar</button>
                                      </div>
                                 </div>
                             </div>
                         </form>

                        <br/>
                        Estos reportes muestran las estadisticas del mes: <strong>{{mes}}</strong> ; Periodo: <strong>{{periodo}}</strong> ; Año: <strong>{{year}}</strong>

                        <br/>
                        <br/>

                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Cursos con Menos potencial de avance
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Top 5</div>
                                        <div>Estos son los cursos los cuales a la fecha presentan retrasos </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                        {%for curso in bajo_avance%}
                        <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <h4>Matematicas Discretas</h4>
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                    -->
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-warning fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <!--div class="huge"--><h4>Matematicas Discretas</h4><!--/div-->
                                        <div>24 Dias!</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">Top 10</div>
                                        <div>Estos que en el mes {{mes}} presentan mayor numero de asistentes</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-bar-chart-o fa-fw"></i> Cursos con mayor numero de asistentes</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="chart_cursoasistentes"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <br/>
                <br/>
                <br/>
                <div class="row">
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-long-arrow-right fa-fw"></i> Porcentajes de estudiantes que aprobaron y reprobaron Semestre {{periodo}} {{year}}</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="bar_porcentajes"></canvas>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">%</div>
                                        <div>Esta es el porcentaje de estudiantes que han reprobado y aprobado en el actual semestre. Gris: Reprobado Verde:Aprobado</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-2 col-md-6">
                        <div class="panel panel-blue">
                            <div class="panel-primary">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-pie-chart fa-5x"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge">#</div>
                                        <div>Este es el numero de Estudiantes que han ingresado organizados por departamento</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-10">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-area-chart fa-fw"></i> Cantidad de Leader Teachers</h3>
                            </div>
                            <div class="panel-body">
                                <canvas id="doughnutChart"></canvas>
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}
{% block js%}
{{block.super}}
<!-- ChartJS-->
    <script src="{% static 'js/plugins/chartJs/Chart.min.js' %}"></script>
    <script>
    $(document).ready(function(){

        var datos_cursoaspirante = {
        labels:{{lista_cursos|safe}} , // ['Discretas','Pintura','Magia', 'Curso', 'Curso', 'Curso', 'Curso', 'Curso', 'Curso', 'Curso']
        datasets: [
                {
                    label: "Curso con mayor numero de asistentes",
                    fillColor: "rgba(26,179,148,0.5)",
                    strokeColor: "rgba(26,179,148,0.8)",
                    highlightFill: "rgba(26,179,148,0.75)",
                    highlightStroke: "rgba(26,179,148,1)",
                    data: {{cantidad_asistentes}} //[23,78,34,67,23,56,49,56,43,78]
                }
            ]
        };

        var barOptions = {
            scaleBeginAtZero: true,
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            responsive: true,
        }


        var ctx = document.getElementById("chart_cursoasistentes").getContext("2d");
        var myNewChart = new Chart(ctx).Bar(datos_cursoaspirante, barOptions);

        var datos_porcetajes = {
        labels: ["Valle", "Cauca", "Nariño", "Tolima", "Huila", "Caqueta", "Putumayo","Amazonas"],
        datasets: [
            {
                label: "My First dataset",
                fillColor: "rgba(220,220,220,0.5)",
                strokeColor: "rgba(220,220,220,0.8)",
                highlightFill: "rgba(220,220,220,0.75)",
                highlightStroke: "rgba(220,220,220,1)",
                data: [65, 59, 80, 81, 56, 55, 40, 78] //{{porcentaje_gano}}
            },
            {
                label: "My Second dataset",
                fillColor: "rgba(26,179,148,0.5)",
                strokeColor: "rgba(26,179,148,0.8)",
                highlightFill: "rgba(26,179,148,0.75)",
                highlightStroke: "rgba(26,179,148,1)",
                data: [28, 48, 40, 19, 86, 27, 90,69] //{{porcentaje_perdio}}
            }
        ]
        };

        var barOptions2 = {
            scaleBeginAtZero: true,
            scaleShowGridLines: true,
            scaleGridLineColor: "rgba(0,0,0,.05)",
            scaleGridLineWidth: 1,
            barShowStroke: true,
            barStrokeWidth: 2,
            barValueSpacing: 5,
            barDatasetSpacing: 1,
            responsive: true,
        }


        var ctx2 = document.getElementById("bar_porcentajes").getContext("2d");
        var myNewChart2 = new Chart(ctx2).Bar(datos_porcetajes, barOptions2);

        var doughnutData = [
        {
            value: {{ingreso_valle}}, //300
            color: "#a3e1d4",
            highlight: "#1ab394",
            label: "Valle"
        },
        {
            value: {{ingreso_cauca}}, //50
            color: "#dedede",
            highlight: "#1ab394",
            label: "Cauca"
        },
        {
            value: {{ingreso_narino}}, //100
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Nariño"
        },
        {
            value: {{ingreso_tolima}}, //100
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Tolima"
        },
        {
            value: {{ingreso_huila}}, //100
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Huila"
        },
        {
            value: {{ingreso_caqueta}}, //100
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Caqueta"
        },
        {
            value: {{ingreso_putumayo}}, //100
            color: "#b5b8cf",
            highlight: "#1ab394",
            label: "Putumayo"
        },
        {
            value: {{ingreso_amazonas}}, //100
            color: "#FCF8E3",
            highlight: "#1ab394",
            label: "Amazonas"
        }

    ];

    var doughnutOptions = {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 45, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
        responsive: true,
    };


    var ctx = document.getElementById("doughnutChart").getContext("2d");
    var myNewChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);


});




  </script>
{%endblock%}